<!-- Menu-->

<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="" class="site_title"><span>Future Generation</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_info">
                <span>Welcome: </span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div>
            <i>_._._._._._._._._._._._._._._._._._._._._._._</i>
        </div>


        <!-- /End menu profile quick info -->


        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                    <ul class="nav side-menu">
                        <li><a href="{{ path('dashboard') }}"><i class="fa fa-desktop"></i> Dashboard </a></li>


                        <li><a><i class="fa fa-calendar"></i> Calander School  <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="index.html">Exams Schedule</a></li>
                                <li><a href="index2.html">Schedule</a></li>
                            </ul>
                        </li>
                        <li><a><i class="fa fa-tasks"></i> Classes <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a>Levels<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li class="sub_menu"><a href="#">classes list</a>
                                        </li>
                                        <li class="sub_menu"><a href="#">classes list</a>
                                        </li>
                                        <li class="sub_menu"><a href="#">classes list</a>
                                        </li>
                                        <li class="sub_menu"><a href="#">classes list</a>
                                        </li>
                                        <li class="sub_menu"><a href="#">classes list</a>
                                        </li>
                                        <li class="sub_menu"><a href="#">classes list</a>
                                        </li>
                                        <li class="sub_menu"><a href="#">classes list</a>
                                        </li>

                                        <li><a href="#">Add class</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="">Add Class</a></li>
                            </ul>
                        </li>

                        <li><a><i class="fa fa-credit-card"></i> Payment <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="index.html">School</a></li>
                                <li><a href="index2.html">Transport</a></li>
                            </ul>
                        </li>
                    </ul>
            </div>
            <div class="menu_section">
                <h3>Compte</h3>
                <ul class="nav side-menu">
                    <li><a href="#"><i class="fa fa-mortar-board"></i> Student</a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('index_student') }}">Student list</a></li>
                            <li><a href="{{ path('nouvel_student') }}">Add Student</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-user"></i> Parents</a></li>
                    <li><a href="{{ path('index_teacher') }}" class="nav-link"><i class="fa fa-users"></i> Teachers</a></li>
                    <li><a><i class="fa fa-plus"></i> Add Compte <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('nouvel_teacher') }}">Add Teacher</a></li>
                            <li><a href="{{ path('nouvel_student') }}">Add Student</a></li>
                            <li><a href="">Add Parent</a></li>
                            <li><a href="">Add Admin</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /end sidebar menu -->

        <!-- menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>

<!-- end menu-->
